.content {
  background-color: #F2F4F9;
  display: flex;
  flex-direction: column;
}

.Skills{
  display: flex;
  flex-wrap: wrap;
  margin-right: 6vw;
  justify-content: center;
}

.projects{
  display: flex;
  margin-left: 5.5vw;
  flex-wrap: wrap;
}

.repositories{
  display: flex;
  flex-wrap: wrap;
  margin-left: 6vw; 
  padding-bottom: 15vh; 
}

@media (min-width: 1200px){

  body{
    display: flex;
    justify-content: flex-end;
  }

  .Skills{
  width: 90vw;
  transform: translateX(-2.5vw);
  display: flex;
  flex-wrap: wrap;
  }

  .projects{
    display: flex;
    width: 90vw;
    margin-left: 3vw;
    flex-wrap: wrap;
  }

  .repositories{
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    margin-left: 2vw; 
    padding-bottom: 4vh; 
  }
  
  .content {
    display: flex;
    flex-direction: column;
    background-color: #F2F4F9;
   
    width: 95vw;
  }

  .elements{
    width: 90vw;
    margin-left: 2vw;
  }
}