.repo__card{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: 2vw;
    margin-top: 3vh;
    transition-duration: 0.5s;
    background-color: white;
    border-radius: 4px;
    font-family: Avenir;
  
}

.repo__card:hover{
    box-shadow: 0px 5px 40px grey;
    transform: translateY(-1vh);
  }

.bolder{
    font-weight: bolder;
}

.repo__list{
    margin: 5%;
}

.repo__title, .repo__description, .repo__language{
    font-size: 16px
}

.repo__description, .repo__language{
    margin-top: 4vh;
}


@media (min-width: 800px){
    .repo__card{
        display: flex;
        flex-direction: column;
        width: 20vw;
        margin-left: 2vw;
        margin-top: 3vh;
        transition-duration: 0.5s;
        background-color: white;
        border-radius: 4px;
        font-family: Avenir;
    }
}

