.skill__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin-left: 5vw;
  margin-top: 3vh;
  transition-duration: 0.5s;
  background-color: white;
  border-radius: 4px;
  font-family: Avenir;
  font-weight: bold;
}
.skill__card:hover{
  box-shadow: 0px 5px 40px grey;
  transform: translateY(-1vh);
}

.skill__pic{
  width: 20vw;
}

.skill__description{
  font-size: 13px;
}

.skill__title{
  font-size: 14px;
  margin-top: 2vh;
}

.skill__title, .skill__pic, .skill__description{
  margin-bottom: 2vh;
}

@media (min-width: 1200px){

  .skill__title{
    font-size: 16px;
    margin-top: 2vh;
  }

  .skill__card{
    width: 10vw;
    margin-left: 3vw;
  }

  .skill__pic{
    width: 5vw;
  }
}