.content {
  background-color: #F2F4F9;
  width: 100vw;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
}

.Skills{
  display: flex;
  flex-wrap: wrap;
  margin-right: 6vw;
  justify-content: center;
}

.projects{
  display: flex;
  margin-left: 5.5vw;
  flex-wrap: wrap;
}


.repositories{
  display: flex;
  flex-wrap: wrap;
  margin-left: 6vw; 
  padding-bottom: 4vh; 
}

@media (min-width: 1200px){

  body{
    display: flex;
    justify-content: flex-end;
  }

  .Skills{
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  }

  .content {
    display: flex;
    flex-direction: column;
    background-color: #F2F4F9;
    margin-top: 9vh;
    width: 100vw;
  }

  .elements{
    margin-left: 3vw;
  }
}