

.content {
  background-color: #F2F4F9;
  height: 90vh;
  margin-top: 4vh;
}

@media (min-width: 1200px){

  .content {
    background-color: #F2F4F9;
    height: 90vh;
    margin-top: 9vh;
  }
  
}