

.content {
  background-color: #F2F4F9;
  height: 200vh;
  margin-top: 4vh;
}

.Skills{
  display: flex;
  flex-wrap: wrap;
  margin-right: 6vw;
  justify-content: center;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  margin-left: 6vw; 
}

@media (min-width: 1200px){
  .content {
    background-color: #F2F4F9;
    height: 90vh;
    margin-top: 9vh;
    width: 97vw;
    margin-left: 3vw;
  }
}