.nav__elements{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 15vw;
}

.nav__element{
  margin-top: 0.5vh; 
  margin-right: vw;
  display: flex;
  align-items: center;
  transition-duration: 0.50s;
  margin-left: 15vw;
}

.navIcon{
  width: 10vw;
  margin-left: 1vw;
  fill: #8E8E8E;
}

/* .navIcon:hover{
 fill: #4478FF;
} */

.navTitle{
  display: none;
}

@media (min-width: 1200px){
  .navIcon{
    width: 2.5vw;
    margin-left: 1vw;
    transition-duration: 0.30s;
  }
  
  .nav__elements{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 0.4vw;
    padding-top: 5vh;
    height: 50vh;
  }
  
  .nav__element{
    color: #8E8E8E;
    font-family: Avenir;
    font-weight: bold;
    transition-duration: 0s;
    margin-left: 0vw;
  }

  .nav__element:hover{
    color:  #4478FF;
    fill: green;
    font-family: Avenir;
    font-weight: bold;
  }

  .nav__element--second{
    margin-top: 10vh;
  }

  /* .curseur{
    position: absolute;
    background-color: #4478FF;
    height: 7vh;
    width: 0.3vw;
    transform: translateX(-2.3vw) translateY(4vh)
  } */

  .navTitle{
    display: none;
    opacity: 0;
    padding-right: 0vw;
    
  }
}