@media (min-width: 1200px){
  .navIcon{
    width: 2.5vw;
    margin-left: 0.2vw;
  }
  
  .nav__elements{
    padding-top: 5vh;
    padding-right: 0.4vw;
    height: 5vh;
  }
  
  .nav__element{
    color: #8E8E8E;
    font-family: Avenir;
    font-weight: bold;
  }


  .navTitle{
    font-family: Avenir;
    font-weight: bold;
  }
}