.navigation{
 
  z-index: 1;
  background-color: $BLUE_NAV;
  position: fixed;
  transform: translateY(87vh);
  display: flex;
  justify-content: center;
  opacity: 0.99;
  height: 10vh;
  width: 100vw;
}

@media (min-width: 1200px){
  .navigation{
    display: flex;
    position: fixed;
    transform: translateY(-10vh);
    box-shadow: 2px 5px 10px grey;
    background-color: $BLUE_NAV;
    padding-top: 3vh;
    transition-duration: 0.20s;
    width: 5vw;
    height: 110vh;
  }

  .navigation:hover{
    display: flex;
    position: fixed;
    background-color: $BLUE_NAV;
    width: 13vw;
    height: 110vh;

    & .navTitle {
      display: flex;
      margin-top: 1.5vh;
      opacity: 1;
      font-size: 18px;
    }

  /*   .curseur{
      position: absolute;
      background-color: #4478FF;
      height: 7vh;
      width: 0.3vw;
      transform: translateX(-5vw) translateY(7vh)
    } 
 */
    .navIcon{
      margin-right: 1vw;
    }
  }
}