.navigation{
  background-color: $BLUE_NAV;
  position: fixed;
  transform: translateY(100vh);
  display: flex;
  justify-content: center;
  height: 10vh;
}

@media (min-width: 1200px){
  .navigation{
    display: flex;
    position: fixed;
    transform: translateY(-10vh);
    box-shadow: 2px 5px 10px grey;
    background-color: $BLUE_NAV;
    transition-duration: 0.20s;
    width: 5vw;
    height: 110vh;
  }

  .navigation:hover{
    display: flex;
    position: fixed;
    background-color: $BLUE_NAV;
    width: 10vw;
    height: 110vh;
  }
}