.LogBookCards{
  width: 90vw;
  height: 100vh;

  margin-left: 5vw;

  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  background-color: white;
  border-radius: 4px;
  font-family: Avenir;
  font-weight: bolder;
  font-size: 24px;
}

@media (min-width: 1200px){
.LogBookCards{
  width: 55vw;
  height: 100vh;
  margin: 3vw;
  margin-left: 19vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  background-color: white;
  border-radius: 4px;
  font-family: Avenir;
  font-weight: bolder;
  font-size: 24px;
  }
}