.LogBookCards{
  width: 90vw;
  margin: 3vw;
  margin-left: 5vw;
  margin-bottom: 5vw;
  display: flex;
  background-color: white;
  border-radius: 4px;
  font-family: Avenir;
  font-weight: bolder;
  }

  .LogBook__elements{
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 5vh;
  }

  .LogBook__date{
    color: red; 
    margin-bottom: 3vh;
    font-size: 18px;
  }


@media (min-width: 1200px){
.LogBookCards{
  width: 55vw;
  margin: 3vw;
  margin-left: 19vw;
  display: flex;
  background-color: white;
  border-radius: 4px;
  font-family: Avenir;
  font-weight: bolder;
  }

  .LogBook__elements{
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 5vh;
  }

  .LogBook__date{
    margin-bottom: 3vh;
    font-size: 18px;
  }
}